<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="css/output.css" rel="stylesheet">
    <style>
        .bg-space {
            background: url('/images/space.jpg') no-repeat center center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen bg-white">
    <div class="text-center">
        <h1 class="text-9xl font-bold bg-space px-6">Oops!</h1>
        <h2 class="mt-4 text-2xl font-bold">404 - PAGE NOT FOUND</h2>
        <p class="mt-2 px-6 text-gray-600">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a href="/" class="mt-6 w-36 inline-block px-6 py-3 rounded-md bg-gradient-to-r from-blue-700 to-blue-400 text-sm/6 font-semibold text-white shadow-sm hover:from-blue-600 hover:to-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">GO BACK</a>
    </div>
</body>
</html>