<nav class="bg-gray-100 text-gray-700 shadow-md">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <img class="h-8 w-auto" src="/images/logo.gif" alt="Your Company">
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button type="button" class="relative rounded-full bg-gray-100 p-1 text-gray-500 hover:bg-gray-300 hover:text-gray-700 hover:scale-125 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2 focus:ring-offset-gray-100">
                    <span class="sr-only">View notifications</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </button>
                <div class="relative ml-5">
                    <div>
                        <button onclick="toggleDropdown()" type="button" class="relative flex items-center justify-center rounded-full bg-gray-800 text-sm text-gray-200 transition-all duration-200 ease-in-out transform hover:bg-gray-700 hover:shadow-lg hover:scale-125 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="size-8 rounded-full" src="/images/profile.jpg" alt="">
                        </button>
                    </div>
                    <div id="profileDropdown" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-5 px-5 shadow-lg ring-1 ring-black/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <hr class="flex-grow border-gray-300">
                        <a href="/logout" class="flex w-full justify-center rounded-md bg-gradient-to-r from-red-600 to-orange-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:from-red-700 hover:to-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline--orange-500">Sign Out</a>
                        <hr class="flex-grow border-gray-300">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>